* {
  margin: 0px;
}

header {
  background-color: #000000;
  color: white;
}

.card {
  width: 22%;
  height: 450px;
  min-width: 330px;
  display: inline-block;
  border: 2px solid black;
  margin-bottom: 20px;
}

.card-storage {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  padding: 20px;
}

.profile-image {
  height: 33.33%;
  background-color: grey;
}
